In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [29]:
loc1 = r'C:\Users\ashu1\Desktop\SuperMarketData\Test.csv'
loc2 = r'C:\Users\ashu1\Desktop\SuperMarketData\Train.csv'
train = pd.read_csv(loc2)
test = pd.read_csv(loc1)

In [30]:
train.info()
print('-'*40)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
Item_Identifier              5681 non-null object
Item_Weight                  4705 non-null float64
Item_Fat_Content             5681 non-null object
Item_Visibility              5681 non-null float64
Item_Type                    5681 non-null object
Item_MRP                     5681 non-null float64
Outlet_Identifier            5681 non-null object
Outlet_Establishment_Year    5681 non-null int64
Outlet_Size                  4075 non-null object
Outlet_Location_Type         5681 non-null object
Outlet_Type                  5681 non-null object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [ ]:
# Missing values columns in train and test data are same as below.
# Item_Weight, Outlet_Size

In [17]:
train.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700

In [31]:
train.apply(lambda x: len(x.unique()))

Item_Identifier              1559
Item_Weight                   416
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     4
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [32]:
# Find out categorical data
categorical_data = [x for x in train.dtypes.index if train.dtypes[x] == 'object']

# Exclude the id columns
categorical_data = [x for x in categorical_data if x not in ['Item_Identifier','Outlet_Identifier']]

# Print frequency of the categories
for col in categorical_data:
    print ("Frequency of categories of variable", col)
    print (train[col].value_counts())
    print ('\n')

Frequency of categories of variable Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64


Frequency of categories of variable Item_Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64


Frequency of categories of variable Outlet_Size
Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64


Frequency of categories of variable Outlet_Location_Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64


Frequency of categories of variable Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [35]:
train['Item_Fat_Content'] = train['Item_Fat_Content'].replace({'LF' : 'Low Fat',
                                                           'low fat' : 'Low Fat',
                                                           'reg' : 'Regular'})
test['Item_Fat_Content'] = test['Item_Fat_Content'].replace({'LF' : 'Low Fat',
                                                           'low fat' : 'Low Fat',
                                                           'reg' : 'Regular'})

In [38]:
train.describe()

C:\Users\ashu1\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,NaN,0.026989,93.826500,1987.000000,834.247400
50%,NaN,0.053931,143.012800,1999.000000,1794.331000
75%,NaN,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [41]:
train['Item_Weight'] = train['Item_Weight'].fillna(train['Item_Weight'].mean())
test['Item_Weight'] = test['Item_Weight'].fillna(test['Item_Weight'].mean())
train['Outlet_Size'] = train['Outlet_Size'].fillna(train['Outlet_Size'].mode()[0])
test['Outlet_Size'] = test['Outlet_Size'].fillna(test['Outlet_Size'].mode()[0])

In [42]:
train.loc[train['Item_Visibility'] == 0, 'Item_Visibility'] = train['Item_Visibility'].mean()

In [45]:
# Work with item_identifier column
train['Item_Type_Combined'] = train['Item_Identifier'].apply(lambda x: x[0:2])
train['Item_Type_Combined'] = train['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})

test['Item_Type_Combined'] = test['Item_Identifier'].apply(lambda x: x[0:2])
test['Item_Type_Combined'] = test['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})

In [49]:
train.loc[train['Item_Type_Combined'] == 'Non-Consumable', 'Item_Fat_Content'] = 'Non-Edible'
test.loc[test['Item_Type_Combined'] == 'Non-Consumable', 'Item_Fat_Content'] = 'Non-Edible'

In [50]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 13 columns):
Item_Identifier              8523 non-null object
Item_Weight                  8523 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  8523 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
Item_Type_Combined           8523 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 865.7+ KB

In [51]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 12 columns):
Item_Identifier              5681 non-null object
Item_Weight                  5681 non-null float64
Item_Fat_Content             5681 non-null object
Item_Visibility              5681 non-null float64
Item_Type                    5681 non-null object
Item_MRP                     5681 non-null float64
Outlet_Identifier            5681 non-null object
Outlet_Establishment_Year    5681 non-null int64
Outlet_Size                  5681 non-null object
Outlet_Location_Type         5681 non-null object
Outlet_Type                  5681 non-null object
Item_Type_Combined           5681 non-null object
dtypes: float64(3), int64(1), object(8)
memory usage: 532.7+ KB

In [52]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#New variable for outlet
train['Outlet'] = le.fit_transform(train['Outlet_Identifier'])
test['Outlet'] = le.fit_transform(test['Outlet_Identifier'])
var = ['Item_Fat_Content', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type', 'Item_Type_Combined']
for i in var:
    train[i] = le.fit_transform(train[i])
    test[i] = le.fit_transform(test[i])

In [54]:
# Drop unwanted column
train.drop(['Item_Type','Outlet_Establishment_Year'],axis=1,inplace=True)
test.drop(['Item_Type','Outlet_Establishment_Year'],axis=1,inplace=True)

In [62]:
train['Item_Weight'] = train['Item_Weight'].astype(np.int64)
train['Item_Visibility'] = train['Item_Visibility'].astype(np.int64)
train['Item_MRP'] = train['Item_MRP'].astype(np.int64)
train['Item_Outlet_Sales'] = train['Item_Outlet_Sales'].astype(np.int64)
test['Item_Weight'] = test['Item_Weight'].astype(np.int64)
test['Item_Visibility'] = test['Item_Visibility'].astype(np.int64)
test['Item_MRP'] = test['Item_MRP'].astype(np.int64)

In [63]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier         8523 non-null object
Item_Weight             8523 non-null int64
Item_Fat_Content        8523 non-null int64
Item_Visibility         8523 non-null int64
Item_MRP                8523 non-null int64
Outlet_Identifier       8523 non-null object
Outlet_Size             8523 non-null int64
Outlet_Location_Type    8523 non-null int64
Outlet_Type             8523 non-null int64
Item_Outlet_Sales       8523 non-null int64
Item_Type_Combined      8523 non-null int64
Outlet                  8523 non-null int64
dtypes: int64(10), object(2)
memory usage: 799.1+ KB

In [64]:
y_Train = train['Item_Outlet_Sales']
X_Train = train.drop(['Item_Outlet_Sales', 'Outlet_Identifier','Item_Identifier'], axis = 1, inplace = True).copy()

AttributeError: 'NoneType' object has no attribute 'copy'

In [65]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 9 columns):
Item_Weight             8523 non-null int64
Item_Fat_Content        8523 non-null int64
Item_Visibility         8523 non-null int64
Item_MRP                8523 non-null int64
Outlet_Size             8523 non-null int64
Outlet_Location_Type    8523 non-null int64
Outlet_Type             8523 non-null int64
Item_Type_Combined      8523 non-null int64
Outlet                  8523 non-null int64
dtypes: int64(9)
memory usage: 599.4 KB